<!DOCTYPE html>
<html>
<head>
  <title>SocialMedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="nav">
		<h1><%= link_to "Home", users_path %></h1>
		<div class="user-nav">
			<% if current_user %>
				<h2>Hello <%=current_user.username %>!
				| <%= link_to "Sign Out", destroy_session_path, method: :delete %>
				
				| <%= link_to "Profile", current_user %></h2>
			<% end %>
		</div>
	</header>
<%= yield %>

</body>
</html>
